:root {
  /* Main color Dark to White */
  --main-bg-color-black: #000;
  /* Black */
  --main-bg-color-900: #0a0903;
  /* darkest */
  --main-bg-color-700: #9fcc2e;
  --main-bg-color-500: #d8f3dc;
  /* base / default */
  --main-bg-color-300: ;
  --main-bg-color-100: ;
  /* lightest */
  --main-bg-color-shadow-green: #b5e244;
  /* lightest */
  --main-bg-color-shadow-white: #b5e244;
  /* lightest */
  --main-bg-color-white: #fff;
  /* white */
  --main-font-family: "playfair display", serif;
  /* --secondry-font-family: "playfair display", serif; */
}

body {
  background-color: var(--main-bg-color-900);
}

.my-section {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color-900);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "times new roman", times, serif;
  z-index: 9999;
  /* make sure it's on top */
  text-shadow: 0 0 10px #fff,
    0 0 60px #9fcc2e,
    0 0 70px #9fcc2e;

}

#about {
  height: 100vh;
  background-color: var(--main-bg-color-white);
  color: var(--main-bg-color-800);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-top: 3rem;
}

.about-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--main-bg-color-800);
  margin: 0.2rem 0rem 0.8rem 0rem;
}

.about-text {
  height: 70vh;
  color: var(--main-bg-color-800);
  margin-bottom: 1rem;
}

.logo-text {
  font-family: "Times New Roman", Times, serif;
  color: var(--main-bg-color-500);
  font-size: 3rem;
}

.line-text {
  color: var(--main-bg-color-black);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  /* Ensures the lines are attached to the text */
}

.line-text::before,
.line-text::after {
  content: '';
  position: absolute;
  background: var(--main-bg-color-grey);
  width: 16%;
  /* Percentage based width for responsiveness */
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
}

.line-text::before {
  left: -20%;
  /* Adjust to position the line just before the text */
}

.line-text::after {
  right: -20%;
  /* Adjust to position the line just after the text */
}

.navbar-text {
  font-weight: 600;
}

nav a {
  color: var(--main-bg-color-500);
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  color: var(--main-bg-color-700);
  /* text-decoration: underline; */
}

.main-heading {
  font-size: 2.4rem;
}

.main-text {
  font-size: 1rem;
}

.main-zurez {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  color: var(--main-bg-color-700);
}

.my-7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* Base button styles */
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 0.25rem;
  padding: 0.8em 1.6em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  transition: all 150ms ease-in-out;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

/* Button with 'third' class */
.btn.third {
  border-color: var(--main-bg-color-500);
  /* replaced $blue */
  color: var(--main-bg-color-black);
  box-shadow: 0 0 40px 40px var(--main-bg-color-500) inset,
    0 0 0 0 var(--main-bg-color-500);
}

.btn.third:hover {
  color: #fff;
  box-shadow: 0 0 10px 0 var(--main-bg-color-500) inset,
    0 0 10px 4px var(--main-bg-color-500);
}

.paragraph-text-about {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--main-bg-color-800);
  margin: 1rem 0;
}

.custom-border-technology {
  border-color: var(--main-bg-color-500) !important;
  box-shadow: 0 0 5px 0 var(--main-bg-color-500) inset,
    0 0 5px 1px var(--main-bg-color-500);
}

/* tech start */
.tech-heading {
  font-size: 2.3rem;
  font-family: var(--main-font-family);
}

.tech-subheading {
  font-size: 0.9rem;
  font-style: italic;
  animation: x 1s linear infinite;
}

#technology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.padding-tech-block {
  padding: 4rem 0 10rem 0;
}

.slider {
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
}

.slide-track {
  display: flex;
  gap: 25px;
  width: max-content;

  animation: scroll 40s linear infinite;
}

/* Pause on hover */
.slide-track:hover {
  animation-play-state: paused;
}

.tech-card {
  padding: 15px 25px;
  border: 1px solid #90fff5;
  border-radius: 10px;
  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #111;
  color: white;
}

@keyframes scroll {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }

}

.reverse {
  animation-direction: reverse;
}