:root {
  background-color: #000;
  font-family: "Playfair Display", serif;
}

body {
  background-color: #000;
  margin: 0;
  padding: 30px;
}

nav a {
  color: rgb(166, 67, 248);
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  color: rgb(16, 100, 100);
  text-decoration: underline;
}

.main-text {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.my-section{
  height: 60vh;
}